.post{
	margin:0 3% 0 70px;

	
}

.post p{
		font-size:14px;
		line-height:20px;
		font-weight:700;
}
.textblack{
	color:black;
	font-weight:bolder;
	/*text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;*/
}
.listlink{
	color:#0099CC;
	font-size:12px;
	margin:11px auto;
}
/*time
h2{
	font-family:"Arial,sans-serif";
	font-size:20px;
	color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
tile*/
h2 h3 h4{
		font-family: "Comic Sans MS", cursive;
	FILTER: dropshadow(color=#f6f6f9, offx=0, offy=1);
	color: rgba(0,0,0,0.8);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
h2{
	text-shadow: 1px 2px 5px #888;
	font-size:22px;

}
h3{
	text-align:center;
	font-size:16px;
	color:#036;
	/*
	border-bottom: 1px solid rgb(191, 191, 191);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(191, 191, 191);
		*/
}
h4{
	line-height: 22px;
	color: #0099FF;
	font-size: 22px;
	margin: 10px auto;
}
.p_list{
	height:100%;
	margin:5px 10px;
}

.post ul{
	list-style-type:none; 
	list-style:none;
}

.post ul li{
	list-style-type:none; 
	list-style:none;


	
	
}

.commenli{
	/*
	boder:1px solid #fafafa;
	-webkit-box-shadow:0px 0px 6px #007eff;
	-moz-box-shadow:0px 0px 6px #007eff;
	box-shadow:0px 0px 6px #007eff;
	
	*/
	margin-right:0;
	margin-left:6%;
		display:block;
	float:left;
	width:52%;
padding:1%;

	color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.long_li{
	margin-right:7%;
	min-width:225px;
	width:25%;


	padding:1%;
	color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	font-size:22px;
	float:right;
}

.long_li p{
	color:#5d5d5d;
}

.long_li .listlink{
	color:#0099CC;
	font-size:12px;
	margin:11px auto;
}

/*list--------------------------------------------------------*/
.p_list{
	padding:5px;
	background:rgba(255,255,255,0.3);
	margin:25px 5px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-moz-box-shadow:1px 1px 22px 1px #666666;
	-webkit-box-shadow: 1px 1px 22px 1px #666666;
box-shadow: 1px 1px 22px 1px#666666;
	
}
.p_listA{
	background:url(../../images/downloadBg.jpg);
		-webkit-box-shadow:1px 1px 6px #666666;
	-moz-box-shadow:1px 1px 11px  #666666;
	box-shadow:	1px 1px 11px #666666;
}
.p_listB{
	background: url(../../images/storyBg.jpg);
		-webkit-box-shadow:0px 0px 6px #007eff;
	-moz-box-shadow:0px 0px 6px #007eff;
	box-shadow:0px 0px 6px #007eff;
	
}

.p_list2{
	margin:25px 0;
	padding:6px;
	/*
		-webkit-box-shadow:1px 1px 6px #666666;
	-moz-box-shadow:1px 1px 11px  #666666;
	box-shadow:	1px 1px 11px #666666;
	*/
	
}


.post-item{

	float:left;
	background:rgba(153,255,153,0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius:6px;
	border-radius:6px;
	margin:9px;
	boder:1px solid #fafafa;
	-webkit-box-shadow:0px 0px 6px #007eff;
	-moz-box-shadow:0px 0px 6px #007eff;
	box-shadow:0px 0px 6px #007eff;
}

/*----- input -----*/
.text{
	background:rgba(153,255,153,0.2);
	padding: 5px;
	font-size: 15px;
	outline: none;
	text-shadow:0 1 0 #FC6;
	-webkit-border-radius: 6px;
	-moz-border-radius:6px;
	border-radius:6px;
	border:1px solid:#CF0;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
		-webkit-transition:background-color 2s;
	-moz-transition:background-color 2s;
	transition:background-color 2s;
}

.text:focus{
	boder:1px solid #fafafa;
	text-shadow:0 1 0 #FC6;
	font:Arial, Helvetica, sans-serif;
	background:rgba(255,255,255,0.8);
	-webkit-box-shadow:0px 0px 6px #007eff;
	-moz-box-shadow:0px 0px 6px #007eff;
	box-shadow:0px 0px 6px #007eff;
	}
/*----- end input-----*/
.text{
	width:100%;
	margin:0,auto;
}

.post_a{
	opacity:0.9;
	#20a0a0;
	#305070;
	
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #90d0d0), color-stop(1, #A8D8D8) );
	background:-moz-linear-gradient( center top, #90d0d0 5%, #A8D8D8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#90d0d0', endColorstr='#A8D8D8');
	background-color:#90d0d0 ;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #90D0D0;
	color:#ffffff;
	font-family:arial;

	font-weight:bold;
	padding:2px 6px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cc9f52;
}.post_a:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #20A0E0), color-stop(1, #20A0E0) );
	background:-moz-linear-gradient( center top, #20A0E0 5%, #20A0E0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#20A0E0', endColorstr='#20A0E0');
	background-color:#20A0E0;
}.post_a:active {
	position:relative;
	top:1px;
	opacity:0.8;
}
.post-item p{
	padding:0 5px 5px 5px;
	line-height:1.6em;
	color:#5d5d5d;
}
.post-item h2{
	margin:0 0 5px 0;
	padding:0;
	font-size:16px;
	color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
.post-image{
	text-align:center;
	margin:5px 0;
}
.post-image img{
	background:#ffffff;
	padding:5px;
	border:1px dashed #dddddd;
}
.post-image img:hover{
	background:#ff4200;
	border:1px dashed #ffffff;
}

.weather{
	width:auto;
	color: rgb(238,238,238);
	background:url(../../images/storyBg.jpg);
	margin:10px auto;
	max-width:565px;
}.ther {
	color: rgb(238,238,238);
		background:rgba(0,102,204,0.2);
}
.weather h2{
	color:rgb(238,238,238);
	display:inline;
	font-size:18px;
	line-height:20px;
	text-shadow:0.8px 0.8px 0.8px   #000033;
}
.weahter_span{
	color:rgb(238,238,238);
	margin-left:11px;
	line-height:16px;
	font-size:12px;
	font-family: "MS Serif", "New York", serif;
}

.weather_item{
	margin:1px;
	padding:2px;
	display:inline-table;
}
.weahter_tt{
	height:21px;
	line-height: 20px;
	background: rgba(153,255,153,0.4);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 4px;
	width: 125spx;
	float: left;
	-webkit-box-shadow: 0px 0px 6px #CCCCCC;
	-moz-box-shadow: 0px 0px 6px #CCCCCC;
	box-shadow: 0px 0px 6px #CCCCCC;
}
.weather_tile{
	padding:4px;
}





/*time tile*/
.time_h2{
	background: #36C;
}



#section{
	background-color:#e2ebef;
	border-top-color: pink;
    border-top:1px dashed #238d90;
    border-bottom:1px dashed #238d90;

}
